In [ ]:
a=int(input("enter the year="))
if(a%4==0):
  print(a,"is a leap year")
else:
  print(a,"is not a leap year")

enter the year=2029
2029 is not a leap year

In [ ]:
b=int(input("Enter the age="))
if(b>=18):
  print("you are eligible to vote")

Enter the age=19
you are eligible to vote

In [ ]:
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
a=int(input("enter the a value="))
if(a<0):
  print(a,"is negative number")
elif(a>0):
  print(a, "is positive number")
else:
  print("zero")

enter the a value=-9
-9 is negative number

In [ ]:
i=1
while i<=10:
  print(i)
  i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
a=['a0','b0','c0','d0']
b=input("enter the value=")
if b in a:
  print("exists")
else:
  print("invalid")

enter the value=a0
exists

In [ ]:
for i in range(1,15):
  if i<2 & i<6:
    continue
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14